<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn.Properties.Settings.QuanLyHangHoaConnectionString"
            connectionString="Data Source=DESKTOP-0SU7V6A\TRANDUONG;Initial Catalog=QuanLyHangHoa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>